.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
  }

  &__menu {
    display: flex;
    list-style: none;
  }
}

.header .header__menu {
}

.header__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
}
