* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Cunia', serif;
  font-weight: 600;
}