.header__nav{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
}

.header__menu{
    display: flex;
    list-style: none;
}

.header__dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
}